<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogiPhone"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LogiPhone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FavoriteList" />
        <activity android:name=".ui.FavoriteAddGroup" />
        <activity android:name=".ui.SmsSend" />
        <activity android:name=".ui.CallHistory" />
        <activity android:name=".ui.ContactDetail" />
        <activity android:name=".ui.ProfileCustom" />
        <activity android:name=".ui.LogiScopeList" />
        <activity android:name=".ui.LogiPhoneList" />
        <activity android:name=".ui.MemberList" />
        <activity android:name=".ui.ProfileDetail" />
        <activity android:name=".ui.Login" />
    </application>

</manifest>